/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
}
/* FINE COMMON */

/* HEADER */
header {
    width: 100%;
    padding: 10px 15px;
    background-color: #070707;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    position: relative;
    width: 45px;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.buttons .arrow {
    cursor: pointer;
}
/* FINE HEADER */

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 69px);
    background: rgb(32, 32, 32);
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 40%, rgba(32, 32, 32, 1) 100%);
    padding: 20px 10px 20px 30px;
    overflow-y: auto;
}

.albums-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.album {
    width: 200px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #181818;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.album-content {
    padding: 15px 15px 35px;
}

.album-img {
    position: relative;
    display: flex;
    margin-bottom: 8px;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.album-img img {
    width: 100%;
    height: 200px;
}

.overlay i {
    font-size: 11px;
    background-color: #1DB954;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    right: 8px;
    opacity: 0;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.album:hover {
    background-color: #282828;
}

.album:hover i {
    opacity: 1;
    transform: translateY(-10px);
}

.album-name {
    padding: 15px 0 7px;
    overflow-x: hidden;
}

.album-name h4 {
    font-size: 17px;
    white-space: nowrap;
    font-weight: 700;
}

.album-author {
    overflow-x: hidden;
    color: #B3B3B3;
    font-weight: 600;
    white-space: nowrap;
}

.author {
    font-size: 15px;
    margin-bottom: 5px;
}

.year {
    font-size: 13px;
}
/* FINE MAIN */

/* Scrollbar restyle */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4f4c4c;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

::-webkit-scrollbar-thumb:active {
  background: #c4bdbd;
}
/* Fine scrollbar restyle */
